<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
<footer id="dk-footer" class="dk-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-4">
        <div class="dk-footer-box-info">
          <a href="index.html" class="footer-logo">
            <img src="assets/Médiathèque%20(1).png" alt="footer_logo" class="img-fluid">
          </a>
          <p class="footer-info-text">
            L'École nationale d'ingénieurs de Sousse ou ENISo est une école d'ingénieurs tunisienne qui dépend de l'université de Sousse.
          </p>
          <div class="footer-social-link">
            <h3>suivre sur</h3>
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>

            </ul>
          </div>
          <!-- End Social link -->
        </div>
        <!-- End Footer info -->

      </div>
      <!-- End Col -->
      <div class="col-md-12 col-lg-8">
        <div class="row">
          <div class="col-md-6">
            <div class="contact-us">
              <div class="contact-icon">
                <i class="fa fa-map-o" aria-hidden="true"></i>
              </div>
              <!-- End contact Icon -->
              <div class="contact-info">
                <h3>Sousse </h3>
                <p>Cité Riath</p>
              </div>
              <!-- End Contact Info -->
            </div>
            <!-- End Contact Us -->
          </div>
          <!-- End Col -->
          <div class="col-md-6">
            <div class="contact-us contact-us-last">
              <div class="contact-icon">
                <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
              </div>
              <!-- End contact Icon -->
              <div class="contact-info">
                <h3>73369500</h3>
                <p>appelez nous</p>
              </div>
              <!-- End Contact Info -->
            </div>
            <!-- End Contact Us -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Contact Row -->
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <div class="footer-widget footer-left-widget">
              <div class="section-heading">
                <h3>Liens utiles</h3>
                <span class="animate-border border-black"></span>
              </div>
              <ul>
                <li>
                  <a href="#">Infos</a>
                </li>
                <li>
                  <a href="#">Services</a>
                </li>
                <li>
                  <a href="#">Projets</a>
                </li>
                <li>
                  <a href="#">notre équipe</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="#">contactez nous</a>
                </li>


              </ul>
            </div>
            <!-- End Footer Widget -->
          </div>
          <!-- End col -->
          <div class="col-md-12 col-lg-6">
            <div class="footer-widget">
              <div class="section-heading">
                <h3>inscription</h3>
                <span class="animate-border border-black"></span>
              </div>
              <p><!-- Don’t miss to subscribe to our new feeds, kindly fill the form below. -->
               .</p>
              <form action="#">
                <div class="form-row">
                  <div class="col dk-footer-form">
                    <input type="email" class="form-control" placeholder="Email">
                    <button type="submit">
                      <i class="fa fa-send"></i>
                    </button>
                  </div>
                </div>
              </form>
              <!-- End form -->
            </div>
            <!-- End footer widget -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Widget Row -->
  </div>
  <!-- End Contact Container -->


  <div class="copyright">
    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <div class="copyright-menu">
            <ul>
              <li>
                <a href="#">Home</a>
              </li>

              <li>
                <a href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- End col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Copyright Container -->
  </div>
  <!-- End Copyright -->
  <!-- Back to top -->
  <div id="back-to-top" class="back-to-top">
    <button class="btn btn-dark" title="Back to Top" style="display: block;">
      <i class="fa fa-angle-up"></i>
    </button>
  </div>
  <!-- End Back to top -->

</footer>
