<section class="presentation first">


    <div class="product-presentation">

        <div class="small-images" class="container">
            <div class="container">
                <h1 class="oumayma"> Bienvenue à notre bibliothèque </h1>
                <pre>

                </pre>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="abc">
                            Notre bibliothèque est un trésor de connaissances et d'imagination qui n'attend que vous. Explorez notre vaste collection de livres, de magazines et de ressources pour le plaisir et l'apprentissage. Cliquez sur le bouton ci-dessous pour nous rejoindre
                            et commencer votre voyage avec nous !
                        </p>
                        <div class="featuredPropBox">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div class="fplogo"><img src="assets/e1.png" alt="fp1" height="150"></div>
                                        <div class="fptext">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="fplogo"><img src="assets/e2.png" alt="fp2"></div>
                                        <div class="fptext">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="fplogo"><img src="assets/e3.png" alt="fp3"></div>

                                    </a>
                                </li>


                                <li>
                                    <a href="#">
                                        <div class="fplogo"><img src="assets/e4.jpg" alt="fp1" height="150"></div>
                                        <div class="fptext">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="fplogo"><img src="assets/e5.png" alt="fp2"></div>

                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="fplogo"><img src="assets/e6.jpg" alt="fp3" height="150"></div>

                                    </a>
                                </li>


                                <li>
                                    <a href="#">
                                        <div class="fplogo"><img src="assets/222.jpg" alt="fp1"></div>

                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="fplogo"><img src="assets/333.jpg" alt="fp2"></div>

                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="fplogo"><img src="assets/111.jpg" alt="fp3"></div>

                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <pre>
        </pre>
        <div class="row">
            <div class="col-md-6">
                <h5 class="oumayma" style="text-align: justify;">
                    <pre>
                       
                    </pre> Notre école d'ingénieurs offre un large éventail d'opportunités pour enrichir votre expérience étudiante au-delà des salles de classe et des bibliothèques. Nous organisons régulièrement des événements sociaux,
                    culturels et académiques pour permettre à nos étudiants de développer leurs compétences professionnelles, sociales et personnelles. Que vous soyez intéressé par les clubs sportifs, les associations étudiantes, les groupes de recherche
                    ou les compétitions académiques, il y a de nombreuses occasions pour vous de vous impliquer dans la vie étudiante. Vous pouvez également participer à des conférences et des événements organisés par l'école ou les entreprises partenaires
                    pour en apprendre davantage sur les dernières tendances et les innovations dans votre domaine d'études. En somme, notre école d'ingénieurs offre un environnement stimulant et dynamique qui encourage les étudiants à explorer leurs intérêts
                    et à développer leur potentiel. Nous sommes convaincus que notre approche holistique de l'apprentissage vous permettra de vivre une vie d'étudiant extraordinaire et de vous préparer pour une carrière réussie dans votre domaine de choix.
                </h5>
            </div>
            <div class="col-md-5">
                <pre>

                </pre>
                <video width=" 700px " height="400px " controls>
                    <source src="../../assets/forum.mp4 " type="video/mp4 ">
                    Your browser does not support the video tag.
                  </video>

            </div>


        </div>
    </div>

</section>


<section class="presentation second ">
    <div class="product-presentation ">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3235.1656051172927!2d10.590517575202028!3d35.820412372542684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd8aeb930217f1%3A0x26a65273b05b6eff!2sEcole%20Nationale%20d&#39;Ing%C3%A9nieurs%20de%20Sousse!5e0!3m2!1sfr!2stn!4v1683018551878!5m2!1sfr!2stn "
            width="600 " height="450 " style="border:0; " allowfullscreen=" " loading="lazy " referrerpolicy="no-referrer-when-downgrade "></iframe>
        <p class="new ">ENISo</p>

    </div>
    <div class="image-presentation ">
        <img src="assets/eniso1.png " width="1000 " height="500 " />
    </div>
</section>
<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
    body {
        font-family: 'Open Sans', sans-serif;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    .np {
        padding: 0px;
    }
    
    .featuredPropBox ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: outside none none;
        padding: 0;
    }
    
    .featuredPropBox ul li {
        background-color: #eeeeee;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        display: block;
        height: 250px;
        margin: 5px;
        width: 32%;
        position: relative;
        transition: all 0.3s;
        cursor: pointer;
    }
    
    .featuredPropBox ul li:after {
        position: absolute;
        content: " ";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(22, 22, 22, 0.6);
        transition: all 0.3s;
    }
    
    .featuredPropBox ul li:nth-child(1) {
        background-image: url('assets/e1.png');
    }
    
    .featuredPropBox ul li:nth-child(2) {
        background-image: url('assets/e2.png');
    }
    
    .featuredPropBox ul li:nth-child(3) {
        background-image: url('assets/e3.png');
    }
    
    .featuredPropBox ul li:nth-child(4) {
        background-image: url('assets/e4.jpg');
    }
    
    .featuredPropBox ul li:nth-child(5) {
        background-image: url('assets/e5.png');
    }
    
    .featuredPropBox ul li:nth-child(6) {
        background-image: url('assets/e6.jpg');
    }
    
    .featuredPropBox ul li:nth-child(7) {
        background-image: url('assets/222.jpg');
    }
    
    .featuredPropBox ul li:nth-child(8) {
        background-image: url('assets/333.jpg');
    }
    
    .featuredPropBox ul li:nth-child(9) {
        background-image: url('assets/111.jpg');
    }
    
    .featuredPropBox ul li .fplogo {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        z-index: 1;
        transition: all 0.3s;
    }
    
    .featuredPropBox ul li .fplogo img {
        width: 100%;
    }
    
    .featuredPropBox ul li .fptext {
        display: none;
        font-size: 16px;
        left: 50%;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease 0s;
        width: 65%;
        z-index: 1;
    }
    
    .featuredPropBox ul li .fptext p {
        color: #fff;
        margin: 0px;
    }
    
    .featuredPropBox ul li:hover {
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0.2) inset;
    }
    
    .featuredPropBox ul li:hover:after {
        background-color: rgba(22, 22, 22, 0.3);
    }
    
    .featuredPropBox ul li:hover .fplogo {
        display: none;
    }
    
    .featuredPropBox ul li:hover .fptext {
        display: block;
    }
</style>
<app-footer></app-footer>