<div class="wrapper">
    <div class="row">
        <div class="container">

            <div class="col-md-2">

            </div>

            <div class="box">
                <div class="box__head">
                    <img src="../../assets/Médiathèque (1).png">
                </div>
                <div class="box__content">
                    <h2>ajouter un livre</h2>
                    <form [formGroup]="bookFormGroup" (ngSubmit)="handleAddBook()">
                        <pre>
                        

                      </pre>
                        <div class="mb-3">
                            <label class="form-label" style="color: rgb(255, 255, 255);">Titre</label>
                            <input type="text" formControlName="title" class="form-control" pInputText>
                            <small *ngIf="bookFormGroup.controls['title'].errors && bookFormGroup.controls['title'].touched" class="text-danger">
                  {{bookService.getErrorMessage('Title',bookFormGroup.controls['title'].errors)}}
                </small>
                        </div>

                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                        <label class="form-check-label" for="form2Example3">
                        Statut
                      </label>
                        <pre>


                        </pre>
                        <div>
                            <button [disabled]="!bookFormGroup.valid" class="btn btn-info btn-lg mon-bouton" type="submit" pButton style="color: rgb(255, 255, 255);"> Enregistrer</button>

                        </div>
                    </form>
                </div>

            </div>

            <div class="col-md-4">

            </div>

        </div>

    </div>
</div>